<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Product</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container my-2">
    <h2>Create Product</h2>
    <form th:action="@{/product/create}" th:object="${product}" method="post">
        <div class="form-group">
            <label for="productName">Product Name:</label>
            <input type="text" th:field="*{productName}" class="form-control" id="productName" required>
        </div>

        <div class="form-group">
            <label for="productQuantity">Quantity:</label>
            <input type="number" th:field="*{productQuantity}" class="form-control" id="productQuantity" required>
        </div>

        <button type="submit" class="btn btn-primary">Create</button>
        <a th:href="@{/product/list}" class="btn btn-danger">Cancel</a>
    </form>
</div>
</body>
</html>